body{
  margin: 0;
  font-family: 'Karla', sans-serif;
}

.landing-page{
  margin: 0;
  height: 100vh;
  background-color: #F5F7FB;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.title{
  margin: 0;
  font-size: 8vw;
}

.description{
  font-size: 2vw;
  margin-top: 0;
}

.start-btn{
  background-color: #4D5B9E;
  color: white;
  border: none;
  border-radius: 10px;
  padding: 20px;
  letter-spacing: 2px;
  font-weight: 500px;
  font-size: 1.5vw;
  cursor: pointer;
}

.upperBlob{
  position: absolute;
  top: 0;
  right: 0;
}

.lowerBlob{
  position: absolute;
  bottom: 0;
  left: 0;
}

.answer_selections{
  display: flex;
  width: 100%;
  justify-content: space-around;
  margin-bottom: 20px;
}

.answer{
  padding: 5px 20px;
  border-radius: 10px;
  font-weight: 500px;
  cursor: pointer;
}

.question{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 80%;
  border-bottom: 1px solid grey;
  margin-bottom: 3vh;
}

.question_title{
  font-size: 25px;
}

.questionPage{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-height: 90vh;
  padding: 3vh;
}

.check_and_play{
  color: white;
  background-color: #4D5B9E;
  border: none;
  border-radius: 10px;
  padding: 10px 20px;
  cursor: pointer;
}

.end{
  display: flex;
  width: 50%;
  justify-content: space-around;
  align-items: center;
}

.score{
  font-size: 25px;
}